<div class="container-fluid color text-center">

    <div class="container">
        <div class="row">
            <div class="col-3 mt-5">
                <img class="profile profile-avatar mb-5" src="../../assets/images/alice.png" alt="" width="200"
                    height="200">
            </div>

            <div class="col-9 text-left mt-5">
                <h1 class=" text-light pt-5">Alice López Gómez</h1>
                <h3 class="text-warning mb-2">FULL STACK WEB DEVELOPER</h3>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="container">
            <a class="navbar-brand mr-5" href="home">Alice López Gómez</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link ml-5 mr-4" aria-current="page" href="proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4" href="tecnologias"> Tecnologías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4" href="experiencia"> Experiencia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="datos" tabindex="-1" aria-disabled="true">Otros datos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>