<div class="container-fluid">

    <div class="container">

        <h3 class="text-center"> Proyectos </h3>
        <div class="row">

            <div class="col-md-6 mt-5">
                <div class="card text-center" style="width: 30rem;">
                    <div class="card-body">
                        <img src="../../assets/images/blog.png" alt="" width="100%">
                        <h5 class="card-title">Blog de Política</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://blogpolitica.firebaseapp.com/blog"
                            target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-5">
                <div class="card text-center" style="width: 30hatrem;">
                    <div class="card-body">
                        <img src="../../assets/images/chat.png" alt="" width="100%">
                        <h5 class="card-title">Chat </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://chatinterespacial.herokuapp.com/
                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mapa</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://mapa-75cd1.web.app/" target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">ToDo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/practicaToDo/
                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Restaurante</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/restaurante/index.html 
                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Vaqueando</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/vaqueando/
                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Empanadas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href=" https://alicelg.github.io/empanadas/
                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Tortugas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Algo</h6>
                        <p class="card-text">Tecnologias usadas </p>

                        <a class="btn btn-outline-warning" href="  https://alicelg.github.io/turtle_proyect/#principal

                " target="_blank">
                            Visitar página web </a>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>