<div class="container-fluid">

    <div class="container">

        <h3 class="text-center mt-5"> Proyectos </h3>
        <div class="row m-auto">

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem; height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/restaurante.png" alt="" width="100%">
                        <h5 class="card-title mt-3">Rock</h5>
                        <p class="card-text"> Proyecto Angular</p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/Rock/
                " target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/Rock
                " target="_blank">
                            GitHub </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5 ">
                <div class="card text-center" style="width: 20rem; height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/wyp.png" alt="" width="100%">
                        <h5 class="card-title mt-3"> WatchYourPolitics </h5>
                        <p class="card-text"> Proyecto FullStack </p>
                        <a class="btn btn-outline-success ml-3 mb-3" href="https://youtu.be/if1Hk1qgm14
                            " target="_blank">
                            Video </a> <br>
                        <a class="btn btn-outline-warning" href="https://github.com/alicelg/FullStackProyect 
                " target="_blank">
                            GitHub Front </a>
                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/wypBack/tree/develop
                " target="_blank">
                            GitHub Back </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem; height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/restaurante.png" alt="" width="100%">
                        <h5 class="card-title mt-3">Restaurante de Hamburguesas</h5>
                        <p class="card-text"> Maquetación web <br> HTML - CSS </p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/restaurante/index.html 
                " target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/restaurante
                " target="_blank">
                            GitHub </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem;height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/blog.png" alt="" width="100%">
                        <h5 class="card-title mt-3">Blog de Política</h5>
                        <p class="card-text pb-1">HTML-CSS-Bootstrap-Angular</p>

                        <a class="btn btn-outline-warning" href="https://blogpolitica.firebaseapp.com/blog"
                            target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/Blog
                " target="_blank">
                            GitHub </a>


                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem;height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/todo.png" alt="" width="100%">
                        <h5 class="card-title mt-3">ToDo</h5>
                        <p class="card-text">HTML-CSS-Bootstrap-JavaScript </p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/practicaToDo/
                " target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/practicaToDo
                            " target="_blank">
                            GitHub </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem;height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/vaqueando.png" alt="" width="100%">
                        <h5 class="card-title mt-3">Vaqueando</h5>
                        <p class="card-text pb-1">Maquetación y funcionalidad <br> HTML-CSS-Bootstrap-JavaScript</p>

                        <a class="btn btn-outline-warning" href="https://alicelg.github.io/vaqueando/
                " target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/vaqueando
                            " target="_blank">
                            GitHub </a>

                    </div>
                </div>
            </div>

            <div class="col-md-4  mt-5">
                <div class="card text-center" style="width: 20rem;height: 23.5rem;">
                    <div class="card-body">
                        <img src="assets/images/chat.png" alt="" width="100%">
                        <h5 class="card-title mt-3">Chat Interespacial </h5>
                        <p class="card-text">Chat interactivo <br> Bootstrap-Pug-Node.js</p>

                        <a class="btn btn-outline-warning" href="https://chatinterespacial.herokuapp.com/
                " target="_blank">
                            Visitar página web </a>


                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card text-center" style="width: 20rem;height: 22rem;">
                    <div class="card-body">
                        <img src="assets/images/mapa.png" alt="" width="100%">
                        <h5 class="card-title mt-2">Mapa de geolocalización</h5>
                        <p class="card-text">HTML-Bootstrap-Node.js</p>

                        <a class="btn btn-outline-warning" href="https://mapa-75cd1.web.app/" target="_blank">
                            Visitar página web </a>

                        <a class="btn btn-outline-dark ml-3" href="https://github.com/alicelg/Mapas
                            " target="_blank">
                            GitHub </a>
                    </div>
                </div>
            </div>






        </div>
    </div>

</div>