<div class="container">

    <!-- titulo -->
    <div class="row">
        <div class="col-12 mt-5">

            <h3 class="text-center mb-4">Experiencia laboral</h3>
        </div>
    </div>

    <!-- neoland -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/neoland.png" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Full Stack Web Developer
            </h4>
            <h5>NEOLAND</h5>

            <p>Desarrollo integral (front/back) de la aplicación web WatchYourPolitics, destinada a la investigación y
                consulta de la política. </p>
        </div>
    </div>

    <!--green monkey -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/green.jpg" alt="" class="logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Profesora Diseño Web</h4>
            <h5>THE GREEN MONKEY</h5>

            <p>Profesora titular de programación y maquetación web. Recursos: HTML, CSS, Bootstrap, AdobeXd.</p>
        </div>
    </div>


    <!--green monkey -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/green.jpg" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Profesora de tecnología</h4>
            <h5>THE GREEN MONKEY</h5>

            <p>Coordinación y desarrollo del curso de tecnología y robótica para niños.
                Impartiendo aprendizajes de lenguajes de programación y construcción de robots.
                Recursos: Scratch, Code.org, Kodable, LightBot, Lego, Makey-Makey, CoSpaces, Tynker, CodeMonkey, Compute
                It, CodeSpark e Interland.</p>
        </div>
    </div>

    <!--corazonistas -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/corazonistas.jpg" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Coordinadora del área de Tecnología</h4>
            <h5>COLEGIO SAGRADO CORAZÓN </h5>

            <p>Coordinación, diseño y desarrollo del año escolar en el área de tecnología y robótica.</p>
        </div>
    </div>

    <!--rockbotic -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/rockbotic.png" alt="" class="" width="70px">
        </div>
        <div class="col-md-10 col-9">
            <h4>Profesora en Lenguajes de Programación </h4>
            <h5> ROCKBOTIC</h5>

            <p>Profesora titular de lenguajes de programación y robótica para niños.Recursos: Scratch, JavaScript,
                CoSpaces, Kodable, Lego WeDo.</p>
        </div>
    </div>

    <!--uam -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/uam.png" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Proyecto Europeo H2020
            </h4>
            <h5> UNIVERSIDAD AUTÓNOMA DE MADRID</h5>

            <p>Análisis de las iniciativas parlamentarias del 2004 al 2008 en temas relacionados con la memoria
                histórica, transcripción y redacción de artículos.
            </p>
        </div>
    </div>

    <!--camp -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/camp-tecnologico.jpg" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Asistente de tecnología y robótica</h4>
            <h5> CAMP TECNOLÓGICO</h5>

            <p>Tutora en Campamento de Verano, impartiendo conocimientos básicos de HTML, CSS y JavaScript.
            </p>
        </div>
    </div>

    <!--ACH -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/ach.png" alt="" class="" width="70px">
        </div>
        <div class="col-md-10 col-9">
            <h4>Diseño Instruccional Online y Presencial </h4>
            <h5> ACCIÓN CONTRA EL HAMBRE </h5>

            <p>Diseño y desarrollo de cursos específicos para la formación interna de la organización en formato
                digital. Adaptación de conceptos. Desarrollo y seguimiento en Moodle.

            </p>
        </div>
    </div>

    <!--rOSARIO -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/rosario.jpg" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Tutora académica </h4>
            <h5> UNIVERSIDAD DEL ROSARIO
            </h5>

            <p>Acompañamiento del curso de Ciencia Política y Gobierno con tutorías y orientación de buenas prácticas de
                estudio a jóvenes universitarios.</p>
        </div>
    </div>

    <!--moe -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/moe.jpg" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Observadora electoral </h4>
            <h5> MISIÓN DE OBSERVACIÓN ELECTORAL </h5>

            <p>Observadora en el Plebiscito Nacional de Colombia por el Proceso de Paz entre el Gobierno y las FARC-EP.
            </p>
        </div>
    </div>

    <!--investigacion -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/iglesia.png" alt="" class=" logo">
        </div>
        <div class="col-md-10 col-9">
            <h4>Investigadora</h4>
            <h5> IGLESIA APOSTÓLICA MARIA MADRE DE LOS MISIONEROS
            </h5>

            <p>Investigación en terreno enfocada a la nutrición de niños de 0 a 5 años y seguimiento de su crecimiento,
                para poder orientar a sus tutores o familiares a mejorar los hábitos alimenticios con un programa de
                formación.</p>
        </div>
    </div>

    <!--aisec -->
    <div class="row mt-3 borde">
        <div class="col-md-2 col-3 text-center">
            <img src="../../assets/images/aisec.png" alt="" class="" width="80px">
        </div>
        <div class="col-md-10 col-9">
            <h4>Coordinadora de Formación
            </h4>
            <h5> AISEC </h5>

            <p>Planeación, desarrollo y evaluación de actividades para mujeres con discapacidad mental y/o adicciones.

            </p>
        </div>
    </div>

</div>