<div class="row">

    <div class="col-md-4">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Blog de Política</h6>
                <p class="card-text">Proyecto en Angular </p>
                <a class="btn" href="https://blogpolitica.firebaseapp.com/blog" target="black"> Visitar página web </a>
            </div>
        </div>

    </div>


</div>