<div id="blog" class="pt-6 pb-6">
    <div class="container">
        <h3 class="mb-1 text-center mt-5 mb-5"> Formación </h3>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/neoland.png" alt="card image">
                                    </p>
                                    <h5 class="card-title">NEOLAND</h5>
                                    <p>Bootcamp FullStack Web Developer</p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">Bootcamp FullStack Web Developer</h5>
                                    <p class="card-text">
                                        Aprendizaje de manejo de tecnologías de Base de Datos, BACK y FRONT. Algunas de
                                        las tecnologías aprendidas: HTML, CSS, JavaScript, Angular, Node.js
                                    </p>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/uam.png" alt="card image">
                                    </p>
                                    <h5 class="card-title">UAM</h5>
                                    <p>Máster en Gobernanza y DDHH</p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">Máster en Gobernanza y Derechos Humanos</h5>
                                    <p class="card-text">
                                        Formación teórica y práctica del más alto rigor académico sobre los derechos
                                        humanos e instituciones nacionales e internacionales de garantía y realización.
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/rosario.jpg" alt="card image">
                                    </p>
                                    <h5 class="card-title">URosario</h5>
                                    <p>Grado en Ciencia Política y Gobierno</p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">Profesional en Ciencia Política Polítologa</h5>
                                    <p class="card-text">
                                        Profesional en el análisis político, en la formulación de proyectos sociales al
                                        servicio del interés nacional, en la gestión propia de los asuntos del Estado y
                                        de la administración, y en la participación activa en la política.
                                    </p>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/rosario.jpg" alt="card image">
                                    </p>
                                    <h5 class="card-title">URosario</h5>
                                    <p>Grado en Relaciones Internacionales</p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title">Profesional en Relaciones Internacionales <br>
                                        Internacionalista
                                    </h5>
                                    <p class="card-text">
                                        Analista con una sólida formación teórica-práctica sustentada en estudios de
                                        casos y simulaciones en tomas de decisión internacionales.
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/ucm.jpg" alt="card image">
                                    </p>
                                    <h5 class="card-title">UCM</h5>
                                    <p>Intercambio Académico </p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title"> Intercambio académico en Relaciones Internacionales
                                    </h5>
                                    <p class="card-text">
                                        Desarrollo de asignaturas de último curso. Inmersión cultural.

                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center centrar">
                                    <p><img class=" img-fluid" src="assets/images/rosario.jpg" alt="card image">
                                    </p>
                                    <h5 class="card-title">URosario</h5>
                                    <p>Formación docente </p>
                                    <a class="btn btn-sm size">+</a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-5">
                                    <h5 class="card-title"> Docencia en convergencia digital
                                    </h5>
                                    <p class="card-text">
                                        Formación docente adaptada a las nuevas tecnologías. Aprendizaje de diseño
                                        instruccional de curso presencial y online en la plataforma de Moodle.

                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <h2 class="text-center">Formación complementaria</h2>
        </div>

        <div class="card m-2 ml-md-4" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Máster en JavaScript</h5>
                <h6 class="card-subtitle mb-2 text-muted">Udemy</h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Diseño Web Profesional</h5>
                <h6 class="card-subtitle mb-2 text-muted">Udemy</h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Ciberseguridad como Estrategia Nacional</h5>
                <h6 class="card-subtitle mb-2 text-muted">CEABAD</h6>
            </div>
        </div>

        <div class="card m-2 ml-md-4" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Digital Security and Human Rights</h5>
                <h6 class="card-subtitle mb-2 text-muted">Amnistia Internacional</h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Interculturalidad, migración y racismos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Universidad de Chile</h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Human Rights</h5>
                <h6 class="card-subtitle mb-2 text-muted">Universidad Diego Portales Chile</h6>
            </div>
        </div>

        <div class="card m-2 ml-md-4" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Realidad de América Latina</h5>
                <h6 class="card-subtitle mb-2 text-muted">Banco Interamericano de Desarrollo </h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Introducción a los Derechos Humanos</h5>
                <h6 class="card-subtitle mb-2 text-muted">Comisión de Derechos Humanos de México</h6>
            </div>
        </div>

        <div class="card m-2" style="width: 22rem;">
            <div class="card-body text-center">
                <h5 class="card-title">Derecho Internacional Humanitario</h5>
                <h6 class="card-subtitle mb-2 text-muted">Cruz Roja </h6>
            </div>
        </div>








    </div>

</div>